.ShowModal{
    display: block;
}
.HideModal{
    display: none;
}
.CountriesModal{
    margin-top: 9px
}
.cardheading{
    font-size: 15px !important;
    font-weight: 600 !important;
    font-family: 'archia' !important;
}
.root{
    width: '100%';
    max-width: '36ch';
    background-color: #fff;
}
.inline{
    display: 'inline' !important;
    color: #D3703E !important;
    font-family: 'archia' !important;
    font-weight: 700 !important;
}
.Newscard{
    height: 20em !important;
    overflow-x: auto;
    margin-right: 45px;
}
.NewsTitle{
    font-size: 5px !important;
    font-family: 'archia' !important;
    word-break: break-word !important;
    color: #4E9FFE !important;
    font-weight: 700 !important;
}
.MainNews{
    font-size: 12px !important;
    font-weight: 700 !important;
    font-family: 'archia' !important;
    color: #ADACAC !important;
}
.NewsSource{
    display: block !important;
    font-size: 14px !important;
    font-family: 'archia' !important;
    font-weight: 700 !important;
    color: #83C340 !important;
}
