/* external css: flickity.css */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .gallery {
    background: #fff
  }
  
  .gallery-cell {
    width: 46%;
    height: 250px;
    margin-right: 8px;
    background: #fff;
    counter-increment: gallery-cell;
  }
  
  .gallery-cell.is-switched .card__wrapper {
        -webkit-animation: rotate 0.5s linear both;
        animation: rotate 0.5s linear both;
   }

  
  .card__wrapper {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-animation: rotate-inverse 0.5s linear both;
            animation: rotate-inverse 0.5s linear both;
  }
  
  .card__side {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .card__side.is-active {
    position: static;
  }
  
  .card__side--back {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  
  @-webkit-keyframes rotate {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    70% {
      -webkit-transform: rotateY(200deg);
              transform: rotateY(200deg);
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }
  
  @keyframes rotate {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    70% {
      -webkit-transform: rotateY(200deg);
              transform: rotateY(200deg);
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }
  @-webkit-keyframes rotate-inverse {
    0% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
    70% {
      -webkit-transform: rotateY(-20deg);
              transform: rotateY(-20deg);
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
  }
  @keyframes rotate-inverse {
    0% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
    70% {
      -webkit-transform: rotateY(-20deg);
              transform: rotateY(-20deg);
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
  }
  
  .card {
    margin: 2rem auto;
    max-width: 350px;
  }
  
  .card__side {
    padding: 1em;
    border-radius: 5px;
    color: black;
    background-color: #fff;
  }
  
  .card__side--back {
    background-color: #0074d9;
  }
  
  .btn {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 22px;
    text-decoration: none;
    margin: 20px;
    color: #fff;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
  }
  .btn:active {
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
  }
  
  .btn--blue {
    background-color: #55acee;
    box-shadow: 0px 5px 0px 0px #3C93D5;
  }
  .btn--blue:hover {
    background-color: #6FC6FF;
  }
  
  .title {
    color: #fff;
  }

/* Standard css*/
.Card{
  box-shadow: '0 10px 20px rgba(10,10,10,0.40) !important';
}
.stateCards{
  text-align: center;
  color: white;
  font-family: 'archia';
  font-weight: 900 !important;
  text-transform: uppercase;
  font-size: 10px !important
}
.highCases{
  background: #FF9999;
}
.avrageCases{
  background:#FCC88C;
}
.safeZone{
  background: #B1DC88;
}
.statetotal{
  text-align: center;
  font-size: 14px;
  line-height: 1;
  color: white;
  font-family: 'archia';
  font-weight: 900 !important;
}
.BarGraph{
  /* background: #FEF0AD;
  border-radius: 10px; */
}

/*Checkbox*/
.switch {
  position: relative;
  display: inline-block;
  margin-bottom: 2%;
}
.switch1 {
  margin-left: 25%;
  font-size: 12px;
  font-family: archia;
  padding-right: 10px;
  color: rgba(108,117,125,.6);
}
.switch2{
  font-size: 12px;
  font-family: archia;
  padding-left: 10px;
  color: rgba(108,117,125,.6);
}
/* Hide the checkbox input (only needed for `:checked` property) */
.switch-input {
  display: none;
}
/* Switch */
.switch-label {
  display: block;
  width: 48px;
  height: 24px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* Switch Rail & Knob */
  /* Switch Rail */
  /* Switch Knob */
}
.switch-label:before,
.switch-label:after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}
.switch-label:before {
  width: 100%;
  height: 100%;
  background-color: #dedede;
  border-radius: 9999em;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}
.switch-label:after {
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}
/* When input is checked */
.switch-input:checked + .switch-label {
  /* Switch Rail */
  /* Switch Knob */
}
.switch-input:checked + .switch-label:before {
  background-color: #1976d2;
}
.switch-input:checked + .switch-label:after {
  left: 24px;
}

/*State cases color*/
.covidsymbol{
  font-size: 10px !important;
  color: rgba(108,117,125,.6);
}
.highsysmbol{
  padding: 0px 6px 0px 6px !important;
  background: #FF9999 !important;
  margin-right: 6px !important;
}
.avgsysmbol{
  padding: 0px 6px 0px 6px !important;
  background: #FCC88C !important;
  margin-right: 6px !important;
}
.lowsysmbol{
  padding: 0px 6px 0px 6px !important;
  background: #B1DC88 !important;
  margin-right: 6px !important;
}
.stateTotal{
  font-family: 'archia';
  font-weight: 900;
  color: #46A4D1 !important;
}
/*State Map*/
.statewisedata{
  margin-right: 40px;
  text-align: center;
  font-family: 'archia' !important;
  font-weight: 900;
  font-size: 24px !important;
  text-transform: uppercase;
  color: #343a40;
}

  