.ShowModal{
    display: block;
}
.HideModal{
    display: none;
}
.CountriesModal{
    margin-top: 9px
}
.countryName{
  text-align: center;
  color: #000;
  margin-top: 10px !important;
  font-family: 'archia';
  font-weight: 900 !important;
  text-transform: uppercase;
  font-size: 8px !important
}
.countryCard{
    max-height: 80% !important;
}
.CuntConfirmed{
  text-align: left;
  color: #000;
  margin-top: 1px !important;
  font-family: 'archia';
  font-weight: 900 !important;
  text-transform: uppercase;
  font-size: 6px !important
}
.CuntRecovered{
    text-align: left;
    color: #000;
    margin-top: 1px !important;
    font-family: 'archia';
    font-weight: 900 !important;
    text-transform: uppercase;
    font-size: 6px !important
  }
  .Cuntdead{
    text-align: left;
    color: #000;
    margin-top: 1px !important;
    font-family: 'archia';
    font-weight: 900 !important;
    text-transform: uppercase;
    font-size: 6px !important
  }
  .root {
    width: '100%',
  }
  .table {
    min-width: 650;
  }
  .TableHead{
    
    color: #AEAAA7 !important;
    font-family: 'archia';
    font-weight: 900 !important;
    text-transform: uppercase;
    font-size: 14px !important
  }
  .tableheadtext{
    font-family: 'archia !important';
  }
  .countryNames{
    font-weight: 900 !important;
    color: #797975 !important;
  }
  .countryTodaycase{
    font-weight: 900 !important;
    color: #C264C2 !important;
  }
  .countryTodaydeath{
    font-weight: 900 !important;
    color: #C96B24 !important;
  }
  .countryConfirmed{
    color:rgba(255,7,58,.6) !important;
  }
  .countryTodaycases{
    color:#D7B2D6 !important;
  }
  .countryTodaydeathth{
    color: #DBB399 !important;
  }
  .countryActive{
    color: rgba(0,123,255,.6) !important;
  }
  .countryRecovered{
    color: rgba(40,167,69,.6) !important;
  }
  .confirmed{
    color: #ff073a !important;
    font-family: 'archia';
    font-size: 16px !important;
    font-weight: 700 !important;
  }
  .active{
    color: #007bff !important;
    font-family: 'archia';
    font-size: 16px !important;
    font-weight: 700 !important;
  }
  .recovered{
    color: #28a745 !important;
    font-family: 'archia';
    font-size: 16px !important;
    font-weight: 700 !important;
  }
  .dead{
    color: #6c757d !important;
    font-family: 'archia';
    font-size: 16px !important;
    font-weight: 700 !important;
  }
  .CutName{
    color: #80A0B9 !important;
  }
  .Notavailable{
    font-family: 'archia';
    font-size: 10px !important;
    font-weight: 700 !important;
    color: #6c757d !important;
  }
  /*Search Box*/
  .root {
    padding: '2px 4px';
    display: 'flex';
    align-items: 'center';
    width: 400;
  }
  .input {
    margin-left: 8px;
    flex: 1;
    font-family: 'archia' !important;
  }
  .iconButton {
    padding: 10px;
  }
  .divider {
    height: 28px;
    margin: 4px;
  }
  .textCenter{
    text-align: center !important;
  }